*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    address{font-style:normal;}

#roadmap .rdm_wrap .rdm_box_wrap .rdm_box .rdm_txt {
    padding: 20% 0% 0% 3%;
}


    
/*데탑*/
@media screen and (max-width:1440px) {
}



/*노트북*/
  @media screen and (max-width:1024px) {
}



  /*아이패드 (768px)*/
  @media screen and (max-width:991px) {
}



/*모바일*/

@media screen and (max-width:767px) {

}


/*모바일2*/


@media screen and (max-width:576px) {
  /* roadmap */
  #roadmap .rdm_wrap .rdm_box_wrap .rdm_box .rdm_img::after {
    right: -50%;
    top: 20%;
  }
  #roadmap .rdm_wrap .rdm_box_wrap .rdm_box .rdm_txt h4 {
    font-size: 2.5rem;
    left: -20%;
    top: 5%;
}
}



/*모바일3 갤럭시*/

  @media screen and (max-width:425px) {

}



/*모바일4 아이폰*/
    @media screen and (max-width:375px) {
    /* roadmap */
    #roadmap .rdm_wrap .rdm_box_wrap .rdm_box .rdm_txt h4 {
      top: 1%;
    }
    #roadmap .rdm_wrap .rdm_box_wrap .rdm_box .rdm_img::after {
      right: -90%;
      top: 15%;
    }
    #roadmap .rdm_wrap .rdm_box_wrap .rdm_box:nth-child(2) .rdm_img::after {
      left: -100%;
      top: 10%;
    }
}
