/*데탑*/
@media screen and (max-width:1440px) {
  /* home */

  .main_video video {
    width: auto;
    height: 100%;
  }

  /* business */

  .grid_container {
    grid-template-columns: repeat(6, minmax(14%, auto));
  }

  .grid_container .item-1.txt p{
    font-size: 14px;
  }

  
/*business2*/
.business2_data{
  width: 49%;
  padding: 5% 2% 2.5%;
}

.business2_steaking{
  width: 49%;
  padding: 5% 2% 2.5%;
}

}



/*노트북*/
@media screen and (max-width:1024px) {

  /* home */
  .main_txt h2 {
    padding: 21% 0%;
    margin-bottom: 10%;
  }


  .main_txt h2 br.hidden {
    display: block;
  }

  .main_btn {
    width: 90%;
    margin: 10% auto;
  }

  /* business */

  .grid_container .item-1.txt p br{
    display: none;
  }

   /*business2*/

   .business2_data br , .business2_steaking br{
    display: none;
  }

  
    /*wallet*/


    .wallet_cont_left > p br{
      display: none;
    }

    .wallet_cont_right::before{
      width: 540px;
      height: 600px;
    }


}



/*아이패드 (768px)*/
@media screen and (max-width:991px) {

  
  /* home */

  .main_txt {
    width: 80%;
    height: 50%;
  }

  .pc_wrap,
  .site_lan {
    display: none;

  }

  .menu_btn {
    display: block;
  }

/* about */

  #about .about_area .about_area_txt  {
    flex-direction: column;
  }

  #about .about_area .about_area_txt .about_img {
    width: 100%;
  }

  #about .about_area .about_area_txt .about_img img {
    max-width: 100%;
    margin-top: 10%;
  }

  #about .about_area .about_area_txt .about_txt {
    width: 100%;
    margin-top: 10%;
  }

  /* business */

  .grid_container,.grid_container.bottom{
    grid-template-columns: repeat(4, 1fr);
  }

  .grid_container.bottom .item-1{
    grid-column:1/2;
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .grid_container.bottom{
    margin-top: 10%;
  }


   /*wallet*/

   .wallet_cont {
    flex-direction: column;
}

.wallet_cont_left p::after {
  left: 50%;
  background:  linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.744792) 50%,  #FFFFFF 100%);
}

  .wallet_cont_left{
    width: 100%;
    margin-top: 0;

  }

  .wallet_cont_left > p{
    text-align: right;
  }

  .wallet_cont_left > p br{
    display: block;
  }

  .wallet_cont_right::before{
    width: 620px;
    height: 700px;
  }

  .wallet_cont_left > a {
    float: right;
}

.wallet_cont_right {
  margin: 10% 0;
}


  

}



/*모바일*/

@media screen and (max-width:767px) {


  

  /*business2*/

  .business2_data_title{
    top: -11%;
  }

  .business2_steaking_title{
    top: -11%;
  }
  

   /*wallet*/
   
  .wallet_cont_left > a{
    width: 40%;
  }

  .wallet_cont_left > p br{
    display: none;
  } 

  .wallet_cont_right{
    width: 90%;
  }


  .wallet_cont_right::before{
    width: 450px;
    height: 600px;
  }
}


/*모바일2*/


@media screen and (max-width:576px) {
  /* home */

  .main_txt {
    top: 44%;
  }
  .mobile_wrap ul li {
    line-height: 3;
  }

  .main_txt h2 {
    font-size: 3em;
  }

  .main_txt p {
    font-size: 1.5em;
    color: #fff;
  }

  .main_btn {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .main_btn button {
    width: 80%;
    border-radius: 8px;
  }

  .main_btn button:first-child {
    margin-bottom: 10%;
  }

  h3 {
    font-size: 2em;
  }
/* about */
  #about .about_area .about_area_txt  .about_txt h4 {
    font-size: 1.5rem;
  }

  #about .about_area .about_area_txt  .about_txt article {
    font-size: 14px;
  }

  /* business */

  .grid_container,.grid_container.bottom{
    grid-template-columns: repeat(2, 1fr);
  }

  .grid_container.bottom .item-1{
    grid-column: span 2;
    text-align: right;
  }

  

/*business2*/
.business2_cont {
  flex-direction: column;
}

.business2_data,.business2_steaking  {
  width: 100%;
  padding: 10% 2% 5.5%;
}
.business2_data{
  margin-bottom: 20%;
}

.business2_data_title{
  top: -10%;
}

.business2_steaking_title{
  top: -9%;
}
  

/*wallet*/

.wallet_cont_left{
  margin-left: 0;
}

.wallet_cont_left > p br{
  display: none;
}

.wallet_cont_left > a{
  width: 50%;
}

.wallet_cont_right{
  width: 100%;
  margin-left: 0;
}


.wallet_cont_right::before{
  width: 380px;
  height: 540px;
}
}



/*모바일3 갤럭시*/

@media screen and (max-width:425px) {}



/*모바일4 아이폰*/
@media screen and (max-width:375px) {}